.card-container {
    padding-bottom: 100px;
}
@media (max-width: 888px) {
    h1 {
        line-height: 1.1;
        font-size: 70px;
    }
    .glide-bx-slide p {
        display: none;
    }
    .footer__text .privacy{
        padding-right: 8px;
    }
    .footer__media {
        padding-top: 20px!important;
        padding-left: 40px!important;
        padding: 20px;
    }
    .footer__item {
        justify-content: center;
    }
    .footer__text {
        text-align: center;
    }
    .arabica__item {
        justify-content: center!important;
    }
    
    h1 {
    padding: 30px 40px;
}

    .about--item__special .about__text h3 {
        padding: 80px 10px 0px 10px!important;
    }
}





.row {
	display: flex;
	justify-content: space-between;
}


.main + .sidebar {
	margin-left: 30px;
}





.cards-holder {
        max-width: 100%;
    margin: auto;
    display: flex;
        overflow-x: scroll;
       
}

.cards-holder > .card-link:first-child {
    margin-left: 0;
}

.card-link + .card-link {
    margin-left: 0px!important;
}



a.card-link {
	display: inline-block;
	text-decoration: none;
	transition: all 0.2s ease-in;
}









.btn-instagram:hover .fa-external-link-alt {
    color: #fff;
    transition: 0s!important;
}

.btn-instagram .fa-instagram,.fa-external-link-alt {
    padding: 0 10px;
}
.btn-instagram {
    width: 100%;
    background-color: var(--hover-color);
    color: #fff;
    padding: 10px;
    text-align: center;
}
.btn-instagram:hover {
     background: var(--third-color);
}
.btn-more {
	    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	    width: 100%;
    height: 200px;
    background-color: var(--hover-color);
	text-align: center;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	cursor: pointer;
}
.btn-more .fa-chevron-circle-right {
    padding: 15px 10px 0px 15px;
}
.btn-more:hover {
	background: var(--third-color);
}
.card__img {
        margin: 0px 0px 0px 0px;
    padding: 0px 0px 100% 0px;
    overflow: hidden;
    position: relative;
    transition: all .5s ease-in-out;
}
/********* show text on hover ***********/
.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0.27244401178440125) 0%, rgba(32,32,32,0.5469538157059699) 0%);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
.card__img:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}
.img__description {
    line-height: 20px;
    font-weight: 100;
  transition: .2s;
  transform: translateY(1em);
  font-size: 15px;
    padding: 0 10px;
    text-align: center;
}
.img__description .fa-external-link-alt {
    padding-left: 10px;
}

.card__img:hover .img__description {
  transform: translateY(0);
}.card__img .img__description:hover {
  text-decoration: underline;
}


.card__img img {
        width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card-link--hidden {
	display: none !important;
}

.card {
    position: relative;
    width: 200px;
    background-color: #fff;
    overflow: hidden;
}
.card-container p {
    padding-bottom: 10px;
    font-size: 30px;
    color: var(--blueblack-color);
    text-decoration: underline;
    padding: 0 5px;
    text-transform: uppercase;
}
.card-paragh {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
        padding-top: 50px;
    text-align: center;
    font-size: 40px;
    color: var(--third-color);
}